header {
/*border: 1px red solid;*/
width: 50%;
height: 100px;
margin: 0 auto;
text-align: center;
background-color: #952B4A;
display: flex;
justify-content: center;
}

.inputs {
	/*border: 1px blue solid;*/
	width: 50%;
	margin: 0 auto;
}
.item-add {
	border:1px lightgrey solid;
	width: 40%;
	height: 30px;
	margin-left: 30%;
	margin-top: 2%;
	/*border-radius: 50px;*/
	padding: 10px;
	font-size: 20px;
}

.item-add:hover, .desc-add:hover {
	box-shadow: 2px 2px 5px lightgrey;
	cursor: pointer;
}

.desc-add {
	border:1px lightgrey solid;
	width:37%;
	height: 25px;
	margin-left: 33%;
	margin-top: 1%;
	/*border-radius: 50px;*/
	font-size: 10px;
}

.todo-item {
	border-bottom: 1px #952B4A solid;
	width: 50%;
	padding-bottom: 15px;
	margin: 2% auto;
}

.todo-item-left {

	/*border: 1px red solid;*/
	/*margin-top: 10%;*/
	height: 50px;
	/*border: 1px blue solid;*/
}

.todo-item-label {
	/*border: 1px blue solid;*/
	font-size: 20px;
	font-weight: bold;
	padding-left: 10px;
	color: grey;
	display: inline;
}

.todo-item-desc {
	/*border: 1px red solid;*/
	position: absolute;
	color: grey;
	font-size: 15px;
}
.remove-item {
	margin-top: -6%;
	margin-left: 90%;
	display: block;
	font-size: 20px;
	font-weight: bold;
	color: red;
}

#edit {
	font-size: 20px;
	width: 50%;
	height: 50px;
	font-weight: bold;
	color: grey;
}
.completed {
	text-decoration: line-through;
}

.hidden {
	display: none;
}