<header>
	<h1>TODO - OOM</h1>
</header>

<div class="inputs">
<input type="text" class="item-add" placeholder="Tu dois faire quoi ?" [(ngModel)]="todoTitle" (keyup.enter)="addTodo()" >
<input type="text" class="desc-add" placeholder="Description" [(ngModel)]="todoDesc" (keyup.enter)="addTodo()" >
</div>

<div class="todo-item" *ngFor="let todo of todos">
	<div class="todo-item-left">

		<input type="checkbox" [(ngModel)]="todo.completed">
		<div  
		*ngIf="!todo.editing; else editingTodo" 
		class="todo-item-label" 
		[ngClass]="{ 'completed' : todo.completed }" 
		(dblclick)="editTodo(todo)"
		(click)="show(todo)">
			{{ todo.title }} // 
		
		</div>
		<div 
		[ngClass]="{ 'hidden' : !todo.show }" 
		class="todo-item-desc">
			{{ todo.description }}
		</div>

		<ng-template #editingTodo>
			<input id="edit" type="text" 
			[(ngModel)]="todo.title" 
			(blur)="doneEdit(todo)" 
			(keyup.enter)="doneEdit(todo)"  
			(keyup.esc)="cancelEdit(todo)"
			autofocus>
		</ng-template>

	</div>
	<div class="remove-item" (click)="deleteTodo(todo.id)">
		&times;
	</div>
</div>

<!-- 
<button (click)="set()">Set</button>
<button (click)="del()">Del</button> -->
<button (click)="get()">Get</button>

<p id="dem" *ngFor="let cook of allCookies | keyvalue ">
	{{ cook.key }}
</p>